<hr>
<footer>
  <div class="text-center">
    Built with <i class="fa fa-lg fa-fw fa-heart"></i> by
    <span title="dddotcom">
      <img alt="@dddotcom" height="16" src="https://avatars3.githubusercontent.com/u/6833043" width="16"> dddotcom
    </span>
    and
    <span title="jtferns">
      <img alt="@jtferns" height="16" src="https://avatars2.githubusercontent.com/u/456952" width="16"> jtferns
    </span>
  </div>
</footer>
