.rough {
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom-color: red;
  position: relative;
  top: -25px;
}
.rough:after {
  content: '';
  position: absolute;
  left: -25px;
  top: 25px;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top-color: red;
  }

  .tumbled {
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom: 35px solid red;
    position: relative;
    top: -25px;
  }
  .tumbled:after {
    content: '';
    position: absolute;
    left: -25px; top: 35px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top: 35px solid red;
  }

  .faceted {
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom: 10px solid red;
    position: relative;
    top: -25px;
  }
  .faceted:after {
    content: '';
    position: absolute;
    left: -25px; top: 10px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top: 35px solid red;
  }

  .brilliant {
      border-style: solid;
      border-color: transparent transparent red transparent;
      border-width: 0 12px 12px 12px;
      height: 0;
      width: 25px;
      position: relative;
      margin: 10px 0 25px 0;
  }
  .brilliant:after {
      content: "";
      position: absolute;
      top: 12px;
      left: -12px;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: red transparent transparent transparent;
      border-width: 35px 25px 0 25px;
  }

  .oculi-sapphire {
    border-bottom-color: #1975FF;
  }
  .oculi-sapphire:after {
  border-top-color: #0066FF;
  }

  .oculi-ruby {
    border-bottom-color: #D11919;
  }
  .oculi-ruby:after {
  border-top-color: #CC0000;
  }

  .oculi-emerald {
    border-bottom-color: #59DE59;
  }
  .oculi-emerald:after {
  border-top-color: #33D633;
  }

  .oculi-tourmaline {
    border-bottom-color: #59D6FF;
  }
  .oculi-tourmaline:after {
  border-top-color: #47D1FF;
  }

  .oculi-amethyst {
    border-bottom-color: #D147FF;
  }
  .oculi-amethyst:after {
  border-top-color: #CC33FF;
  }

  .oculi-citrine {
    border-bottom-color: #FFA319;
  }
  .oculi-citrine:after {
  border-top-color: #FF9900;
  }

  .oculi-diamond {
    border-bottom-color: #F6F6F6;
  }
  .oculi-diamond:after {
  border-top-color: #F5F5F5;
  }

  .oculi-onyx {
    border-bottom-color: #2E2E2E;
  }
  .oculi-onyx:after {
  border-top-color: #171717;
  }

  .oculi-spinel {
    border-bottom-color: #BCBCD3;
  }
  .oculi-spinel:after {
  border-top-color: #B5B5CE;
  }

  .oculi-princess {
    border-bottom-color: #CC99FF;
  }
  .oculi-princess:after {
  border-top-color: #8533FF;
  }
}
