{{outlet}}
<div class="container">
  <h1>Oculi Roughness</h1>
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <td>Rough</td>
      <td>Tumbled</td>
      <td>Faceted</td>
      <td>Brilliant</td>
    </tr>
    <tr>
      <td><div class="rough oculi-emerald"></div></td>
      <td><div class="tumbled oculi-emerald"></div></td>
      <td><div class="faceted oculi-emerald"></div></td>
      <td><div class="brilliant oculi-emerald"></div></td>
    </tr>
  </table>

  <h1>Oculi Types</h1>
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <td>Oculi Gem</td>
      <td>Type</td>
      <td>Image</td>
    </tr>
    <tr>
      <td>Sapphire</td>
      <td>Basic</td>
      <td><div class="rough oculi-sapphire"></div></td>
    </tr>
    <tr>
      <td>Ruby</td>
      <td>Basic</td>
      <td><div class="rough oculi-ruby"></div></td>
    </tr>
    <tr>
      <td>Emerald</td>
      <td>Basic</td>
      <td><div class="rough oculi-emerald"></div></td>
    </tr>
    <tr>
      <td>Tourmaline</td>
      <td>Level 1</td>
      <td><div class="rough oculi-tourmaline"></div></td>
    </tr>
    <tr>
      <td>Amethyst</td>
      <td>Level 1</td>
      <td><div class="rough oculi-amethyst"></div></td>
    </tr>
    <tr>
      <td>Citrine</td>
      <td>Level 1</td>
      <td><div class="rough oculi-citrine"></div></td>
    </tr>
    <tr>
      <td>Diamond</td>
      <td>Level 1</td>
      <td><div class="rough oculi-diamond"></div></td>
    </tr>
    <tr>
      <td>Onyx</td>
      <td>Level 2</td>
      <td><div class="rough oculi-onyx"></div></td>
    </tr>
    <tr>
      <td>Spinel</td>
      <td>Level 2</td>
      <td><div class="rough oculi-spinel"></div></td>
    </tr>
    <tr>
      <td>Princess Stone</td>
      <td>Level 3</td>
      <td><div class="rough oculi-princess"></div></td>
    </tr>
  </table>
</div>
