<div class="container">
  <h1>Oculi Model Test</h1>
  <table class="table table-striped table-bordered table-condensed">
    <tr>
      <td><h4>Type</h4></td>
      <td><h4>Roughness</h4></td>
      <td><h4>Formula</h4></td>
    </tr>
    {{#each oculi in model}}
    <tr>
      <td>{{oculi.type}}</td>
      <td>{{oculi.roughness}}</td>
      <td><div {{bind-attr class="oculi.roughness oculi.gemcolor"}}></div></td>
    </tr>
    {{/each}}
  </table>
</div>
